{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

    <div class="container main-section">

    {% if not app.user %}

        <h1>Bienvenue !</h1>

        <p>Blablabla</p>

    {% else %}

    {% if cards is empty and count == 0 %}
        <p>Pas de cartes aujourd'hui !</p>
    {% elseif cards is empty and count > 0 %}
        <p>Plus de cartes à travailler, bravo !</p>
    {% endif %}
    
            
        <div class="row mt-5">
            {% for card in cards %}
                {% if loop.first %}
                    <div id="card-container" class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <article class="card-user text-center p-5">
                            <div class="row">
                                <div class="order-2 col-12 order-md-1 col-md text-center text-md-left mb-3 mt-2 mt-md-n3">
                                {% for tag in card.tags %}
                                    <div class="d-inline-block tag-user">{{ tag.name | upper }}</div>
                                {% endfor %}
                                </div>
                                <div class="order-1 col-12 order-md-2 col-md text-center text-md-right mb-3 mt-n3 count-user"><span class="user-count">{{ due }}</span><span class="fa fa-clock-o d-inline-block ml-1" aria-hidden="true"></span> | <span class="user-limit">{{ count }}</span><span class="fa fa-check d-inline-block ml-1" aria-hidden="true"></span></div>
                            </div>
                            <p class="card-content mt-5">{{ card.recto }}</p>
                            <button type="button" id="btn-answer" class="btn btn-info mt-1 mb-5">Voir la réponse</button>
                            
                            <div id="verso-container">
                                <hr>
                                <p class="card-content">{{ card.verso }}</p>
                                <div class="card-form mt-5 position-relative">
                                    {{ form_start(formCard, {'attr': {'id': 'form-card' }}) }}

                                    <input type="hidden" name="card-id" value="{{ card.id }}">

                                    {{ form_end(formCard) }}
                                </div>
                            </div>
                        </article>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}